<p style="color: green"><%= notice %></p>

<%= render @retro %>

<br>
<h2>Stickers</h2>
<%= turbo_stream_from @stickers %>
<% @stickers.each do |user_full_name, stricker_groups| %>
  <div class="row">
    <h2><%= user_full_name %></h2>
    <% %i(good bad think).each do |type| %>
      <div class="col-4">
        <div class="row">
          <% stricker_groups[type].each do |sticker| %>
            <div class="col">
              <%= render sticker %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<br>

<h2>Chat</h2>
<%= render @messages %>
<%= turbo_stream_from @chat %>
<div id="messages">
</div>
<%= render partial: 'messages/new_message_form' %>

<br>

<div>
  <%= link_to "Edit this retro", edit_team_retro_path(@retro) %> |
  <%= link_to "Back to retros", team_retros_path %>

  <%= button_to "Destroy this retro", team_retros_path, method: :delete %>
</div>